@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
.thumbnails {
    width: 380px;
    margin: 15px;
    display: inline-block;
    float: left;
}

.thumbnail-kitchen {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -99px -98px;
    border: 20px solid #5b5546;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-kitchen:hover {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: 0px -502px;
}

.thumbnail-cats {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -600px -98px;
    border: 20px solid #d7c9aa;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-cats:hover {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -540px -520px;
}

.thumbnail-bubbles {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -1101px -100px;
    border: 20px solid #ec9f43;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-bubbles:hover {
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -1000px -502px;
}

.thumbnail-kitchen-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-kitchen-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-kitchen-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 40px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-kitchen-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-cats-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-cats-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-cats-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 40px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-cats-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-bubbles-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-bubbles-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-bubbles-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 40px;
    color: bisque;
    text-decoration: none;
}

.thumbnail-bubbles-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
}
