body {
    height: 100vh;
    background-image: url(../images/02_048.jpg);
}

.container {
    margin: 0px auto;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    color: brown;
}

[class$="8"] {
    background-color: lemonchiffon;
    opacity: 0.8;
}

p {
    font-size: 22px;
    font-weight: 600;
    color: black;
    line-height: 48px;
}
