@import url('https://fonts.googleapis.com/css?family=Philosopher');
body {
    height: 100vh;
    background-image: url(../images/02_048.jpg);
}

.container {
    margin: 0px auto;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    color: brown;
}

[class$="8"] {
    background-color: lemonchiffon;
    opacity: 0.8;
}

p {
    font-size: 22px;
    font-weight: 600;
    color: black;
    line-height: 48px;
}

a {
    font-family: 'Philosopher', sans-serif;
    font-size: 42px;
    border: 5px solid gray;
    border-radius: 15px;
    background-color: darkgray;
    color: darkred;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
}
