@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
.h1 {
    font-family: "Bungee Inline", cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 60px;
    color: chocolate;
    letter-spacing: 3px;
    word-spacing: 30px;
}

.p {
    font-family: "Bungee Inline", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: darkgoldenrod;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.5;
    text-decoration: line-through;
}


/* TODO header */


/* TODO nav */


/* TODO section */


/* TODO image block */

.image-block {
    width: calc(33.33%-5px*2);
    float: left;
    padding: 10px;
    border: 1px solid red;
    margin: 5px;
}


/* TODO more button */

.btn {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.btn-primary {
    background-color: blue;
    color: aliceblue;
}

.btn-more:link {
    color: red;
}

.btn-more:visited {
    Color: yellow;
}

.btn-more:hover {
    background-color: red;
    color: white;
}

.btn-more:active {
    color: aqua;
}

.btn-more {
    border: 1px solid red;
}

.btn-success {
    background-color: green;
    color: azure;
}

.thumbnail {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
.kcbhome {
    display: block;
    width: 160px;
    height: 80px;
    border: 10px dotted pink;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
    margin-top: 40px;
    margin-left: 20px;
}

.kcbhome:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 72px;
    font-weight: bold;
    text-decoration: none;
    color: crimson;
    background-color: bisque;
}

.kcbhome:visited {
    color: brown;
    background-color: bisque;
}

.kcbhome:hover {
    color: floralwhite;
    background-color: darkred;
}

.kcbhome:active {
    color: crimson;
    background-color: bisque;
}

.thumbnails {
    width: calc(33.33%-20px*2);
    float: left;
    padding: 5px;
    border: 20px solid #c3bebe;
    margin: 20px;
}

.thumbnail-kitchen {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -100px -100px;
    border: 20px solid crimson;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-kitchen:hover {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: 0px -502px;
}

.thumbnail-cats {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -600px -100px;
    border: 20px solid #fceb6a;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-cats:hover {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -540px -520px;
}

.thumbnail-bubbles {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -1101px -100px;
    border: 20px solid #6a75fc;
    border-radius: 10px;
    margin: 20px;
}

.thumbnail-bubbles:hover {
    display: inline-block;
    background: url(../images/kcbsprite.png);
    width: 300px;
    height: 300px;
    background-position: -1000px -502px;
}

.thumbnail-kitchen-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-kitchen-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-kitchen-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 36px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-kitchen-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-cats-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-cats-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-cats-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 36px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-cats-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-bubbles-list:link {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-bubbles-list:visited {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-bubbles-list:hover {
    font-family: 'Aref Ruqaa', serif;
    font-size: 36px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

.thumbnail-bubbles-list:active {
    font-family: 'Aref Ruqaa', serif;
    font-size: 32px;
    color: bisque;
    text-decoration: none;
    list-style-type: none;
}

p {
    font-family: 'Aref Ruqaa', serif;
    font-size: 72px;
    color: gainsboro;
}
