@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
.h1 {
    font-family: "Bungee Inline", cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 60px;
    color: chocolate;
    letter-spacing: 3px;
    word-spacing: 30px;
}

.p {
    font-family: "Bungee Inline", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: darkgoldenrod;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.5;
    text-decoration: line-through;
}


/* TODO header */


/* TODO nav */


/* TODO section */


/* TODO image block */

.image-block {
    width: calc(33.33%-5px*2);
    float: left;
    padding: 10px;
    border: 1px solid red;
    margin: 5px;
}


/* TODO more button */

.btn {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.btn-primary {
    background-color: blue;
    color: aliceblue;
}

.btn-more:link {
    color: red;
}

.btn-more:visited {
    Color: yellow;
}

.btn-more:hover {
    background-color: red;
    color: white;
}

.btn-more:active {
    color: aqua;
}

.btn-more {
    border: 1px solid red;
}

.btn-success {
    background-color: green;
    color: azure;
}

.thumbnail {
    width: 100%;
}
